<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <handlers>
            <!-- Handler for Django application -->
            <add name="Django Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Administrator\AppData\Local\Programs\Python\Python312\python.exe|C:\Users\Administrator\AppData\Local\Programs\Python\Python312\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
            
            <!-- Handler for static files -->
            <add name="StaticFileHandler" path="static/*" verb="*" modules="StaticFileModule" resourceType="File" />
            
            <!-- Handler for media files -->
            <add name="MediaFileHandler" path="media/*" verb="*" modules="StaticFileModule" resourceType="File" />
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="DJANGO_SETTINGS_MODULE" value="ecommerce_prj.settings" />
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\gamezone" />
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    </appSettings>
    <system.net>
        <mailSettings>
            <smtp from="contact@gameszone.tn" />
        </mailSettings>
    </system.net>
</configuration>