{% extends "gz/base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "gz/styles/profile.css" %}">
{% endblock head %}

{% block header %}
    {% include 'gz/components/navigation.html' %}
    {% block title %}
        <title>GameZone | Profil</title>
    {% endblock title %}
{% endblock header %}

{% block main %}
<div class="container">
    <div class="sidebar">
        <ul>
            <li onclick="showContent('profile')" class="tab active-tab"><i class="fa-solid fa-user"></i> Profil</li>
            <li onclick="showContent('orders')" class="tab"><i class="fa-solid fa-boxes-stacked"></i> Commandes</li>
            <li onclick="showContent('receipts')" class="tab"><i class="fa-solid fa-receipt"></i> Reçus</li>
            <li onclick="showContent('addresses')" class="tab"><i class="fa-solid fa-location-dot"></i> Adresses</li>
        </ul>
    </div>
    <div class="content">
        <div class="profile active">
            <h1>Profil</h1>
            <form id='profile-form' method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="profile-settings">
                        <div class="label-input">
                            <label for="first_name">Prénom</label>
                            {{profileForm.first_name}}
                        </div>
                        <div class="label-input">
                            <label for="last_name">Nom</label>
                            {{profileForm.last_name}}
                        </div>
                        <div class="label-input">
                            <label for="email">Email</label>
                            {{profileForm.email}}
                        </div>
                        <div class="label-input">
                            <label for="tel">Téléphone</label>
                            {{profileForm.tel}}
                        </div>
                        <div class="label-input">
                            <label for="date_of_birth">Date de naissance</label>
                            {{profileForm.date_of_birth}}
                        </div>
                </div>
                <button id="save-button" type="submit">Enregistrer les modifications</button>
                <div>Points GZ : {{user.customuser.points}}</div>
                <p id="popupmessage"></p>
            </form>
        </div>
        <div class="orders" id='orders'>
            <h1>Commandes</h1>
            <ul>
                {% if orders %}
                {% for order in orders %}
                        <li class="order-list">
                            <div class="order-box">
                                <img src="{% static "gz/assets\qr-code-scan.png" %}" alt="Image de la commande">
                                <div class="order-details">
                                    <p>ID de commande : <span>{{ order.id }}</span></p>
                                    <p>Prix total : <span>DT {{ order.price }}</span></p>
                                    {% comment %} <p>Date de commande : <span>{{ order.created_at }}</span></p> {% endcomment %}
                                    {% if order.status == 'pending' %}
                                    <p>Statut : <span class="pending">En attente</span></p><br>
                                {% elif order.status == 'completed' %}
                                    <p>Statut : <span class="completed">Terminé</span></p><br>
                                {% else %}
                                    <p>Statut : <span class="cancelled">Annulé</span></p><br>
                                {% endif %}
                                </div>
                            </div>
                            <div class="order-items">
                                
                                <h3 class="items-title">Articles :</h3>
                                <ul class="order-items">
                                    {% for item in order.order_items.all %}
                                        <li>{{ item.product.title }} x {{ item.quantity }}</li>
                                    {% endfor %}
                                    
                                </ul>
                            </div>
                            {% if order.status == 'pending' %}
                                <div class="order-cancel">
                                    <button data-orderId="{{order.id}}" class="cancel-button"><i class="fa-solid fa-xmark"></i> Annuler</button>
                                </div>
                            {% endif %}
                        </li>
                    <hr>
                    {% endfor %}

                {% else %}
                <div class="no-orders">
                    <i class="fa-solid fa-cart-plus"></i>
                    <p>L'endroit semble vide.
                        <br>
                        Effectuez votre premier achat dès maintenant pour l'inclure dans cette liste.</p>
                    <button class="shop-now"><a href="{% url "catalog" %}">Acheter maintenant</a></button>
                </div>
                {% endif %}

            </ul>
        </div>
        <div class="receipts">
            <h1>Reçus</h1>
            <ul>
                {% for receipt in receipts %}
                    <li>ID de reçu : {{ receipt.id }}, Utilisateur : {{ receipt.user }}, Date : {{ receipt.created_at }}</li>
                    <!-- Afficher d'autres détails du reçu si nécessaire -->
                {% endfor %}
            </ul>
        </div>
        
        
        <div class="addresses">
            <h1>Carnet d'adresses</h1>
            <div class="addresses-container">
                <div class="address add-address">
                    <i class="fa-solid fa-plus"></i>
                    <h2>Ajouter une adresse de livraison</h2>
                </div>
                {% for address in addresses %}
                    <div class="address" id="address-{{ address.id }}">
                        <p>{{ address }}</p>
                        <div>
                        <button data-id="{{ address.id }}" class="edit-address-button">Modifier</button>
                        <button data-id="{{ address.id }}" class="delete-address-button edit-address-button">Supprimer</button>
                        </div>
                    </div>
                {% endfor %}
                
            </div>
            <div class="add-address-container">
                <h1>Ajouter une adresse</h1>
                <form class="addAddressForm">
                    {% csrf_token %}
                    <div>
                        <label for="address">Adresse</label>
                        {{addressForm.line}}
                        <div class="city-state-zip">
                            <div>
                            <label for="city">Pays</label>
                            {{addressForm.country}}
                            </div>
                            <div>
                            <label for="state">Ville</label>
                            {{addressForm.city}}
                            </div>
                            <div>
                            <label for="zip">Code Postal</label>
                            {{addressForm.zip_code}}
                            </div>
                        </div>
                        <input class="add-address-button submit" type="submit" value="Ajouter une adresse">

                    </div>
                </form>
            </div>
            <div class="edit-address-container">
                <h1>Modifier l'adresse</h1>
                <form class="edit-address-form" method="post">
                    {% csrf_token %}
                    <div>
                        <label for="address">Adresse</label>
                        {{addressForm.line}}
                        <div class="city-state-zip">
                            <div>
                            <label for="city">Pays</label>
                            {{addressForm.country}}
                            </div>
                            <div>
                            <label for="state">Ville</label>
                            {{addressForm.city}}
                            </div>
                            <div>
                            <label for="zip">Code Postal</label>
                            {{addressForm.zip_code}}
                            </div>
                        </div>
                        <button id="save-changes-button" type="submit">Enregistrer les modifications</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock main %}

{% block footer %}

{% endblock footer %}

{% block scripts %}
<script>
        function showContent(contentName) {
            var contents = document.querySelectorAll('.content > div');
            var selectedTab = document.querySelector('.tab');
            for (var i = 0; i < contents.length; i++) {
                contents[i].classList.remove('active');
            }
            var selectedContent = document.querySelector('.' + contentName);
            document.addEventListener("click", function (event) {
                if (event.target.classList.contains('tab')) {
                    selectedTab.classList.remove('active-tab');
                    selectedTab = event.target;
                    selectedTab.classList.add('active-tab');
                }
            });
            selectedContent.classList.add('active');
        }

        if ("{{val}}" != "None") {
            showContent("{{val}}");
        }
    const form = document.querySelector("#profile-form");
    const submitButton = form.querySelector("#save-button");
  
    submitButton.addEventListener("click", function (event) {
      event.preventDefault();
  
      const formData = new FormData(form);
  
      $.ajax({
          type: 'POST',
          url: '/update-profile/',
          data: formData,
          processData: false,
          contentType: false,
          beforeSend: function (xhr, settings) {
              xhr.setRequestHeader('X-CSRFToken', getCookie("csrftoken"));
          },
          success: function (response) {
              console.log(response)
              document.getElementById('popupmessage').innerHTML = "Profil mis à jour avec succès";
              
          },
          error: function (error) {
              console.error('Erreur lors de la mise à jour du profil :', error);
          }
      });
    });




    document.addEventListener("DOMContentLoaded", function() {
        const cancelButtons = document.querySelectorAll(".cancel-button");
        console.log(cancelButtons)
        cancelButtons.forEach(function(cancelButton) {
            cancelButton.addEventListener("click", function(event) {
                event.preventDefault();
                const orderId = cancelButton.getAttribute('data-orderId');
    
                // Envoyer une requête AJAX pour annuler la commande
                $.ajax({
                    type: 'POST',
                    url: `/cancel-order/${orderId}/`,
                    data: {"status": 'cancelled'},
                    beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader('X-CSRFToken', getCookie("csrftoken"));
                    },
                    success: function(response) {
                        console.log(response);
                        window.location.reload();
                        // Vous pouvez éventuellement mettre à jour l'interface utilisateur ici si nécessaire
                    },
                    error: function(error) {
                        console.error('Erreur lors de l'annulation de la commande :', error);
                    }
                });
            });
        });
    });

document.addEventListener("click", function (event) {
    var AddAdress = document.querySelector('.add-address');
    var AddAdressContainer = document.querySelector('.add-address-container');
    var EditAdressContainer = document.querySelector('.edit-address-container');
    var EditAdressButton = document.querySelector('.edit-address-button');
    var AdressesContainer = document.querySelector('.addresses');
    var selectedTab = document.querySelector('.tab');

    if (event.target.classList.contains('add-address')) {
        AddAdressContainer.style.display = 'flex';
        AddAdress.style.display = 'none';
        EditAdressContainer.style.display = 'none';
    }
    if (event.target.classList.contains('add-address-button')) {
        AddAdressContainer.style.display = 'none';
        AddAdress.style.display = 'flex';
        EditAdressContainer.style.display = 'none';
    }
    if (event.target.classList.contains('edit-address-button')) {
        AddAdressContainer.style.display = 'none';
        AddAdress.style.display = 'none';
        EditAdressContainer.style.display = 'flex';
    }

    if (event.target.classList.contains('tab')) {
        AddAdressContainer.style.display = 'none';
        EditAdressContainer.style.display = 'none';
        AddAdress.style.display = 'flex';
    }
});

    addAddressSubmit = document.querySelector(".add-address-button.submit")

    addAddressSubmit.addEventListener("click", (event) => {
        event.preventDefault();
        var addAddressFormData = $(".addAddressForm").serialize();  // Serialize form data
        $.ajax({
            type: 'POST',
            url:'/add_address/',
            data: addAddressFormData,
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader('X-CSRFToken', getCookie("csrftoken"));
            },
            success: function(response) {
                console.log(response);
                window.location.reload();
            },
            error: function(error) {
                console.log(error);
            }
        });
    });


    const deleteButtons = document.querySelectorAll(".delete-address-button");

    deleteButtons.forEach(function(deleteButton) {
        deleteButton.addEventListener("click", function(event) {
            event.preventDefault();
            const addressId = this.getAttribute('data-id');
    
            // Envoyer une requête AJAX pour supprimer l'adresse
            $.ajax({
                type: 'POST',
                url: `/delete-address/${addressId}/`,
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader('X-CSRFToken', getCookie("csrftoken"));
                },
                success: function(response) {
                    console.log(response);
                    // Mettez éventuellement à jour l'interface utilisateur ici si nécessaire
                    window.location.reload()
                },
                error: function(error) {
                    console.error('Erreur lors de la suppression de l'adresse :', error);
                }
            });
        });
    });



    const editButtons = document.querySelectorAll(".edit-address-button");
    const editForm = document.querySelector(".edit-address-form");

    editButtons.forEach(function(editButton) {
        editButton.addEventListener("click", function(event) {
            event.preventDefault();
            const addressId = this.getAttribute('data-id');
    
            // Récupérer les données de l'adresse et remplir le formulaire de modification
            $.ajax({
                type: 'GET',
                url: `/get-address/${addressId}/`, // Vous devez définir une route pour récupérer les détails de l'adresse
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader('X-CSRFToken', getCookie("csrftoken"));
                },
                success: function(response) {
                    // Remplir les champs du formulaire de modification avec les données de l'adresse récupérées
                    populateEditForm(response, editForm, addressId);
                },
                error: function(error) {
                    console.error('Erreur lors de la récupération des détails de l'adresse :', error);
                }
            });
        });
    });

    function populateEditForm(addressData, editForm, addressId) {
        // En supposant que vous avez des champs de formulaire avec des noms appropriés dans votre objet formulaire
        editForm.elements['line'].value = addressData.line;
        editForm.elements['country'].value = addressData.country;
        editForm.elements['city'].value = addressData.city;
        editForm.elements['zip_code'].value = addressData.zip_code;
    
        // Mettre à jour l'attribut data-id du bouton de sauvegarde des modifications
        saveChangesButton.setAttribute('data-id', addressId);
    }




    const saveChangesButton = document.querySelector("#save-changes-button");

    // Ajouter un écouteur d'événements au bouton de sauvegarde des modifications
    saveChangesButton.addEventListener("click", function(event) {
        event.preventDefault();

        // Sérialiser les données du formulaire
        const formData = new FormData(editForm);
        const addressId = this.getAttribute('data-id');
        // Requête AJAX pour mettre à jour l'adresse
        $.ajax({
            type: 'POST',
            url: `/edit-address/${addressId}/`, // En supposant que vous avez une URL appropriée pour l'édition des adresses
            data: formData,
            processData: false,
            contentType: false,
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader('X-CSRFToken', getCookie("csrftoken"));
            },
            success: function(response) {
                console.log(response);
                window.location.reload()
                // Mettez éventuellement à jour l'interface utilisateur ou effectuez toute action nécessaire
            },
            error: function(error) {
                console.error('Erreur lors de la mise à jour de l'adresse :', error);
            }
        });
    });

    
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
      }
    </script>
{% endblock scripts %}
