{% load static %}

<link rel="stylesheet" href="{% static "gz/styles/components/accesoriesCatalog.css" %}">

<div class="main__accessoriesCatalog flexCenter">
    <div class="accessoriesCatalog__div flexCenter">
        <div class="accessoriesCatalog__text">Top Accessoires</div>
        <div class="accessoriesCatalog__items flexCenter">
            <div class="accessoriesCatalog__horizontal">
                {% for accessory in top_accessories %}
                    <a href="/detail/{{ accessory.meta_title }}" class="accessoriesCatalog__item">
                        <div class="item__img">
                            <img src="{{ accessory.image.url }}" alt="{{ accessory.title }}" width="184.8" height="184.8">
                        </div>
                        <div class="item__info">
                            <div class="info__price">{{ accessory.price }}<span>DT</span></div>
                            <div class="info__title">{{ accessory.title }}</div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
