{% load static %}

<link rel="stylesheet" href="{% static "gz/styles/components/featuredGamesCTA.css" %}">
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<div class="main__featureGamesCTA flexCenter">
    <div class="featuredGamesCTA__div flexCenter">
        <div class="featuredGameCTA__slider swiper mySwiperMini">
            <div class="swiper-wrapper">
                {% for game in featured_games_sliders %}
                <a href="/detail/{{ game.meta_title }}" class="swiper-slide unselectable">
                    {% comment %} <img src="{{ game.featured_game_slider_banner.url }}" alt="{{ game.title }}"> {% endcomment %}
                    <picture>
                        <!-- WebP format for screens 768px and above -->
                        <source media="(min-width: 768px)" type="image/webp" srcset="{{ game.featured_game_slider_banner.url }}">
                    
                        <!-- WebP format for screens below 768px -->
                        <source type="image/webp" srcset="{{game.featured_game_slider_mobile_banner.url}}">
                    
                        <!-- Fallback for browsers that do not support <picture> or WebP -->
                        <img alt="{{ game.title }}" class="gme-v3-carousel-hero__img lazyloaded" src="{{ game.featured_game_slider_banner.url }}" fetchpriority="high">
                    </picture>
                </a>
                {% endfor %}
            </div>
            <div class="swiper-pagination swiper-paginationMini"></div>
            <div class="autoplay-progress autoplay-progressMini">
                <svg viewBox="0 0 48 48">
                    <circle cx="24" cy="24" r="20"></circle>
                </svg>
                <span></span>
            </div>
        </div>
    </div>
</div>

<script src="{% static "gz/js/components/featuredGamesCTA.js" %}"></script>