{% load static %}

<link rel="stylesheet" href="{% static 'gz/styles/components/hero.css' %}">
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />


<div class="main__hero">
  <div class="hero__div">
    <div class="hero__slider swiper mySwiper">
        <div class="swiper-wrapper">
            {% for hero in heros %}
                <div class="swiper-slide unselectable">
                    <a href="/{{ hero.meta_title }}">
                        <picture>
                            <!-- Format WebP pour les écrans de 768px et plus -->
                            <source media="(min-width: 768px)" type="image/webp" srcset="{{ hero.hero_banner.url }}">
                        
                            <!-- Format WebP pour les écrans en dessous de 768px -->
                            {% if hero.hero_banner_mobile %}
                                <source type="image/webp" srcset="{{ hero.hero_banner_mobile.url }}">
                            {% endif %}
                        
                            <!-- Solution de repli pour les navigateurs ne prenant pas en charge <picture> ou WebP -->
                            <img alt="{{ hero.title }}" class="gme-v3-carousel-hero__img lazyloaded" 
                                {% if hero.hero_banner_mobile %}
                                    src="{{ hero.hero_banner_mobile.url }}"
                                {% else %}
                                    src="{{ hero.hero_banner.url }}"
                                {% endif %}
                                fetchpriority="high">
                        </picture>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
  </div>
</div>
<script src="{% static "gz/js/components/hero.js" %}"></script>
