{% load static %}
<link rel="stylesheet" href="{% static "gz/styles/components/playstation.css" %}">

<div class="main__playstation">
    <div class="playstation__div flexCenter">
        <div class="playstation__layer1 playstation__layer">
            <div class="layer1__text">
                <div class="text__title">Playstation Hub</div>
                <div class="text__slogan">
                    Restez attentif à l'univers PlayStation
                </div>
            </div>
        </div>
        
        <div class="playstation__layer3 playstation__layer">
            <div class="layer__CTA">
                <a href="/{{playstation_banner.product.meta_title}}" class="layerCTA__div flexCenter">
                    <div class="layerCTA__img">
{% comment %}                         <img src="{{playstation_banner.banner.url}}" alt="{{playstation_banner.product.title}}">
 {% endcomment %}                        
                        <picture>
                            <!-- WebP format for screens 768px and above -->
                            <source media="(min-width: 768px)" type="image/webp" srcset="{{playstation_banner.banner.url}}">
                        
                            <!-- WebP format for screens below 768px -->
                            <source type="image/webp" srcset="{{playstation_banner.banner_mobile.url}}">
                        
                            <!-- Fallback for browsers that do not support <picture> or WebP -->
                            <img alt="{{playstation_banner.product.title}}" class="gme-v3-carousel-hero__img lazyloaded" src="{{playstation_banner.banner.url}}" fetchpriority="high">
                        </picture>
                    </div>
                </a>
            </div>
        </div>

       <!-- <div class="playstation__layer2 playstation__layer">
            <div class="layer2__cards flexCenter">
                <a href="/detail/{{ playstation_deals.deal_1.product.meta_title }}">
                    <div class="cards__card">
                        <div class="card__upper flexCenter">{{ playstation_deals.deal_1.product.title }}</div>
                        <div class="card__lower flexCenter">
                            <div class="lower__div">
                                <div class="lower__img flexCenter">
                                    <img src="{{ playstation_deals.deal_1.image.url }}" alt="Deal 1 Image">
                                </div>
                                <div class="lower__content flexCenter">
                                    <div class="content__price">{{ playstation_deals.deal_1.product.price }}</div>
                                    <div class="content__text">{{ playstation_deals.deal_1.description }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                
                <a href="/detail/{{ playstation_deals.deal_2.product.meta_title }}">
                    <div class="cards__card">
                        <div class="card__upper flexCenter">{{ playstation_deals.deal_2.product.title }}</div>
                        <div class="card__lower flexCenter">
                            <div class="lower__div">
                                <div class="lower__img flexCenter">
                                    <img src="{{ playstation_deals.deal_2.image.url }}" alt="Deal 2 Image">
                                </div>
                                <div class="lower__content flexCenter">
                                    <div class="content__price">{{ playstation_deals.deal_2.product.price }}</div>
                                    <div class="content__text">{{ playstation_deals.deal_2.description }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                
            </div>
        </div>-->

        <div class="playstation__layer2 playstation__layer">
            <div class="layer2__cards flexCenter">
                {% for product in playstation_deals %}
                    <a href="/{{ product.meta_title }}">
                        <div class="cards__card">
                            <div class="card__upper flexCenter">{{product.title|title|truncatechars:20}}</div>
                            <div class="card__lower flexCenter">
                                <div class="lower__div">
                                    <div class="lower__img flexCenter">
                                        <img src="{{ product.deal_image.url }}" alt="{{ product.title }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
                
            </div>
        </div>

    </div>
</div>