{% load static %}

<link rel="stylesheet" href="{% static "gz/styles\components\pre-owned-deals.css" %}">

<div class="main__pre-owned-deals flexCenter">

    <div class="pre-owned-deals__div flexCenter">

        <div class="pre-owned-deals__layer1 pre-owned-deals__layer">
            <div class="layer1__text">

                <div class="text__title">Pre-Order</div>
{% comment %}                 <div class="text__slogan">
                    Save big on stuff you love
                </div> {% endcomment %}

            </div>

        </div>
        <div class="pre-owned-deals__layer2 pre-owned-deals__layer">

           <!-- <div class="layer2__cards flexCenter">


                <a href="/detail/{{pre_owned_deals.deal_2.product.meta_title}}">
                    <div class="cards__card">

                        <div class="card__upper flexCenter">{{pre_owned_deals.deal_1.product.title}}</div>
    
                        <div class="card__lower flexCenter">
    
                            <div class="lower__div">
    
                                <div class="lower__img flexCenter">
                                    <img src="{{pre_owned_deals.deal_1.image.url}}" alt="">
                                </div>
                                <div class="lower__content flexCenter">
    
                                    <div class="content__price">{{pre_owned_deals.deal_1.product.price}}TND</div>
                                    <div class="content__text">{{pre_owned_deals.deal_1.description}}</div>
    
                                </div>
    
                            </div>
    
                        </div>
    
                    </div>
                </a>

                <a href="/detail/{{pre_owned_deals.deal_2.product.meta_title}}">

                    <div class="cards__card">
    
                        <div class="card__upper flexCenter">{{pre_owned_deals.deal_2.product.title}}</div>
    
                        <div class="card__lower flexCenter">
    
                            <div class="lower__div">
    
                                <div class="lower__img flexCenter">
                                    <img src="{{pre_owned_deals.deal_2.image.url}}" alt="">
                                </div>
                                <div class="lower__content flexCenter">
    
                                    <div class="content__price">{{pre_owned_deals.deal_2.product.price}}TND</div>
                                    <div class="content__text">{{pre_owned_deals.deal_2.description}}</div>
    
                                </div>
    
                            </div>
    
                        </div>
    
                    </div>
                </a>




            </div> -->


            <div class="layer2__cards flexCenter">

                {% for product in pre_owned_deals %}
                
                    <a href="/detail/{{product.meta_title}}">
                        <div class="cards__card">

                            <div class="card__upper flexCenter">{{product.title}}</div>
                        
                            <div class="card__lower flexCenter">
                            
                                <div class="lower__div">
                                
                                    <div class="lower__img flexCenter">
                                        <img src="{{product.deal_image.url}}" alt="{{product.title}}">
                                    </div>
                                
                                </div>
                            
                            </div>
                        
                        </div>
                    </a>

                {% endfor %}

            </div>

        </div>
        <div class="pre-owned-deals__layer3 pre-owned-deals__layer">

            <a href="/detail/{{pre_owned_deals_banner.product.meta_title}}">
                <div  class="layer__CTA">
                    <div class="layerCTA__div flexCenter">

                        <div class="layerCTA__img">
{% comment %}                             <img src="{{pre_owned_deals_banner.banner.url}}" alt="{{pre_owned_deals_banner.product.title}}">
 {% endcomment %}                            
                            <picture>
                                <!-- WebP format for screens 768px and above -->
                                <source media="(min-width: 768px)" type="image/webp" srcset="{{pre_owned_deals_banner.banner.url}}">
                            
                                <!-- WebP format for screens below 768px -->
                                <source type="image/webp" srcset="{{pre_owned_deals_banner.banner_mobile.url}}">
                            
                                <!-- Fallback for browsers that do not support <picture> or WebP -->
                                <img alt="{{pre_owned_deals_banner.product.title}}" class="gme-v3-carousel-hero__img lazyloaded" src="{{pre_owned_deals_banner.banner.url}}" fetchpriority="high">
                            </picture>
                        </div>

                    </div>
                </div>
            </a>

        </div>

    </div>

</div>