{% extends "partials/base.html" %}
{% load static %}

{% block title %}
     Bienvenue sur Gameszone
{% endblock title %}
    
{% block content %}
<style>
    ul,
    li {
        list-style: none;
    }

    /* Ajoutez vos styles CSS externes ici */
</style>
<div class="body_content_wrapper position-relative">
    
    <section class="home-banner mt50">
        <div class="container">
            <div class="row">
                <div class="col-xl-8">
                    <div class="main-banner-wrapper">
                        <div class="banner-carousel">
                            <!-- Contenu du carrousel -->
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="banner-area">
                        <!-- Contenu des bannières -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="features pt0 pb20">
        <!-- Contenu de la section -->
    </section>

    <!-- Section catégories -->
    {% if category %}
    <section class="category-section maxw1800 pb30 pt30">
        <!-- Contenu de la section -->
    </section>
    {% endif %}
   
    <!-- Section offres chaudes -->
    {% if featured_hot_deals %}
        <section class="hot-deals-section maxw1800">
            <!-- Contenu de la section -->
        </section>
    {% endif %}
   
    <!-- Section produits en vedette -->
    {% if products %}
    <section class="featured-products pb30">
        <!-- Contenu de la section -->
    </section>
    {% endif %}

    <!-- Section produits les plus vendus -->
    {% if top_selling_products %}
    <section class="top-selling-products pb30">
        <!-- Contenu de la section -->
    </section>
    {% endif %}

    <!-- Section articles en vedette -->
    {% if posts %}
    <section class="featured-posts pt0 pb60">
        <!-- Contenu de la section -->
    </section>
    {% endif %}

    <!-- Section avantages -->
    <section class="our-features pt0 pb70">
        <div class="container">
            <!-- Contenu de la section -->
        </div>
    </section>
</div>
{% endblock content %}
